<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.FBConnect" version="0.1.0" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FBConnect</name>
    <description>Cordova Plugin for Facebook connection</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova-android" version=">=4.1.0" />
        <engine name="cordova-ios" version=">=3.9.0" />
    </engines>

    <js-module name="FBConnectPlugin" src="www/fbconnect.js">
        <clobbers target="plugin.FBConnect"/>
    </js-module>

    <preference name="APP_ID" />
    <preference name="APP_NAME" />

    <config-file target="config.xml" parent="/*">
        <access origin="https://m.facebook.com" />
        <access origin="https://graph.facebook.com" />
        <access origin="https://api.facebook.com" />
        <access origin="https://*.fbcdn.net" />
        <access origin="https://*.akamaihd.net" />
    </config-file>

    <platform name="android">
        <dependency id="org.fathens.cordova.plugin.lang.Kotlin" url="https://github.com/fathens/Cordova-Plugin-Kotlin.git" commit="master" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FBConnectPlugin">
                <param name="android-package" value="org.fathens.cordova.plugin.fbconnect.FBConnect"/>
            </feature>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/*">
            <string name="fb_app_id">$APP_ID</string>
            <string name="fb_app_name">$APP_NAME</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id"/>
            <activity android:label="@string/fb_app_name" android:name="com.facebook.LoginActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        </config-file>

        <source-file src="platforms/android/src/main/kotlin/FBConnect.kt" target-dir="kotlin/$PACKAGE_NAME"/>
    </platform>

    <platform name="ios">
        <dependency id="org.fathens.cordova.plugin.lang.Swift" url="https://github.com/fathens/Cordova-Plugin-Swift.git" commit="master" />

        <config-file target="config.xml" parent="/*">
            <feature name="FBConnectPlugin">
                <param name="ios-package" value="FBConnect"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="FacebookAppID">
            <string>$APP_ID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="FacebookDisplayName">
            <string>$APP_NAME</string>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>fbapi</string>
                <string>fb-messenger-api</string>
                <string>fbauth2</string>
                <string>fbshareextension</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>fb$APP_ID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <podfile>
            <pod name="FBSDKCoreKit" version="~> 4.7.0" />
            <pod name="FBSDKLoginKit" version="~> 4.7.0" />
            <pod name="FBSDKShareKit" version="~> 4.7.0" />
        </podfile>

        <source-file src="platforms/ios/src/FBConnect.swift"/>
    </platform>
</plugin>
